.main {
    margin: 24px 16px 24px 22rem;
    padding: 24px;
    min-height: 280px;
    overflow-x: auto;
    transition: all 0.5s ease 0s;
    @media (max-width: 499px) {
        margin: 24px 16px 24px 9rem;
    }
    .loadingspinner {
        display: flex;
        align-items: center;
        height: 50vh;
        justify-content: center;
    }
}
.ant-menu-item {
    transition: ease all 0.5s;
    svg {
        font-size: 1rem;
    }
}
a:hover {
    text-decoration: none;
}

.welcometext {
    display: flex;
    padding: 15px;
    transition: ease all 0.5s;
    justify-content: center;
    margin-bottom: 2rem;
    color: var(--background-color);
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'MADE TOMMY', sans-serif;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 30%;
    height: 1px;
    background: #ddd;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    }
}