/*

Rgistration page
**

***
*/
.wrap-register {
    overflow: hidden;
    height: 100vh;

    background-color:#590A5B;
    background-blend-mode: overlay;

    #form-register-c {
        display: flex;
        h3 {
            color:#590A5B;
        }
        background-color: rgba(255, 255, 255, 0.8);
        width: 80vw;
        height: 92vh;
        position: relative;
        top: 5%;
        transform: translateY(-50%);
        margin-left: 50%;
        transform: translateX(-50%);
        [type='submit'] {
            margin-top: 1em;
            display: block;
            background-color:#590A5B;
            border-radius: 30px;
            padding: 1em;
            width: 70px;
            color: wheat;
            margin-bottom: 0.8em;
        }
        form {
            width: 40vw;
            margin: auto;
            #align-R-submit {
                display: flex;
                justify-content: flex-end;
            }
        }
        #reg-f-cover {
            h1 {
                padding-top: 1.5em;
            }
            width: 40vw;
            margin: auto;
        }
        .input {
            display: block;
            width: 40vw;
            outline: none;
            margin: auto;
            height: 40px;
            font-size: 1.4em;
        }
        .input-c {
            display: block;
        }
        .regInput {
            border: 2px solid black;
            padding-left: 1em;
            border-radius: 30px;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
        #logo-section-R {
            width: 35%;
            #log-img-R {
                display: block;
                margin: auto;
                margin-top: 15%;
                transform: translateY(-10%);
                opacity: 0.7;
                width: 100%;
                height: 90%;
                transform: rotateZ(-5deg);
            }
            #logo-wrap-R {
                height: 100%;
            }
        }
        label {
            font-size: 1.2em;
        }
    }
}