/*

reset code page
\


*/

.action-r-c{
    text-align:center;
    padding:10px;
}
.form-r-c{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:200px;
    
    .span{
    display:flex;
    justify-content:space-between;
    .code{
        width:60px;
        height:60px;
        background-color:#f2f2f2;
    }
}
}