html,
body{
  height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    min-width: 300px;
    overflow-x: hidden;
    /*overflow-y: scroll; */
    text-rendering: auto;
    text-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
  
body{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;  line-height: 1.6;
    cursor: pointer;
    position: relative;
}
.sidebar{
    width: 274px;
    background: #320234;
    color: #ffffff;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
.sidebar-content{
    margin-top: 40px;
}
.sidebar-content .sidebar-logo{
    padding-left: 22px;
}
.log-out{
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: transparent;
    font-size: 16px;
}
.cst-details{
    position: relative;
    margin-left: 300px;
    max-width: 920px;
}
.cst-details_view-product{
    position: fixed;
    margin-left: 300px;
    max-width: 920px;
}
.user-id{
    position: fixed;
    right: 50px;
    top: 25px;
    display: flex;
}
.user-id > img{
    margin-right: 10px;
}
.user-name{
    font-size: 18px;
    color:  #590A5B;
    font-weight: 600;
    margin-top: 5px;
    position: sticky;
    line-height: 15px;
}
.sales-rep{
    color: #590A5B;
    font-size: 16px;
}
.prod-info-content{
    margin-top: 70px;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
}
.order-info-content{
    margin-top: 70px;
    font-size: 36px;
    font-weight: 500;
}
.prod-info-box{
    width: 100%;
    position: relative;
    left: 50%;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    padding: 10px 5px;
    margin-top: 2px;
}
.prod-items{
    display: flex;
    flex-direction: row;
}
.prod-items > img{
    width: 100px;
    height: 60px;
}
.prod-view-dots{
    margin-top: 15px;
    margin-right: 20px;
}
.view-prod-btn{
    position: absolute;
    margin-left: -140px;
    margin-top: -45px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(50, 2, 52, 0.15);
    width: 159.87px;
    height: 36.86px;
    text-align: center;
    padding: 5px 0;
}
.pagination{
    position: fixed;
    left: 52%;
    bottom: 5px;
}
.page{
    border: 1px solid #333;
    padding: 0 6px;
    margin: 0 2px;
    font-size: 12px;
}
.exit-view_product{
    margin-top: 90px;
    margin-bottom: 10px;
    background-color: transparent;
}
.view-product_content{
    width: 100%;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15); 
    padding: 10px 0;  
    position: relative;
    overflow: auto;
}
.view-product_columnA,
.view-product_columnB{
    width: 50%;
    padding: 0 20px;
}
.view-product_columnA > img{
    width: 470px;
    height: 360px;
    justify-self: start;
}
.product-tag_name{
    font-size: 22px;
    font-weight: 500;
    color: #590A5B;
    font-style: normal;
}
.product-tag_price{
    font-size: 18px;
    color: #FFAF38;
    margin-top: 10px;
}
.product-tag_id,
.product-tag_type,
.product-tag_location{
    font-size: 18px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.67)
}
.view-product_description{
    margin-top: 30px;
}
.view-availability{
    padding: 30px 20px;
}
.view-btn-yes{
    width: 150px;
    height: 35px;
    background-color: transparent;
    border: 1.5px solid #FFAF38;
    margin-left: 40px;
}
.view-btn-no{
    width: 150px;
    height: 35px;
    background-color: transparent;
    border: 1.5px solid #FFAF38;
    margin-left: 20px;
}
.view-btn-yes:hover,
.view-btn-no:hover{
    background-color: #FFAF38;
    color: #ffffff;
}
