.column{
    display: flex;
    justify-content: space-between;
}
.fnsz-30{
    font-size: 30px;
}
.fnsz-23{
    font-size: 23px;
}
.fsw-600{
    font-weight: 600;
}
.fnsz-14{
    font-size: 14px;
}
.fnsz-12{
    font-size: 12px;
}
.mgtop-4{
    margin-bottom: 4px;
}
.col{
    display: flex;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
li{
    list-style: none;
}
.current{
    background-color: #FFAF38;
}
.primary-color{
    color: #590A5B;
}
.secondary-color{
    color: #FFAF38;
}
.mgtop20{
    margin-top: 20px;
}
.mgtop15{
    margin-top: 15px;
}
.mgrt-20{
    margin-right: 20px;
}
.mgtop10{
    margin-top: 10px;
}
.mgtop5{
    margin-top: 5px;
}
.mgbtn20{
    margin-bottom: 20px;
}
.text-center{
    text-align: center;
}
/* .btn-primary{
    width: 100%;
    border: none;
    background-color: #ffffff;
    color: #590A5B;
    outline: none;
    padding: 10px;
    font-size: 18px;
    text-align: start;
} */
/* .btn-secondary{
    width: 100%;
    border: none;
    background-color: transparent;
    color: #ffffff;
    outline: none;
    padding: 10px;
    font-size: 18px;
    margin: 10px 0;
    text-align: start;
} */
/* .btn-tertiary{
    width: 100%;
    border: none;
    background-color: #FFAF38;
    color: #ffffff;
    outline: none;
    padding: 10px;
    font-size: 18px;
    text-align: start;
    padding-left: 30px;
} */
/* .btn-primary > img{
    position: absolute;
    left: 30px;
    width: 30px;
    height: 30px;
} */
/* .btn-secondary > img{
    position: absolute;
    left: 30px;
    width: 25px;
    height: 25px;
} */
/* .btn-primary > span{
    margin-left: 50px;
} */
/* .btn-secondary > span{
    margin-left: 50px;
} */
