// Regular
@font-face {
  font-family: "made-tommy-regular";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/MadeTommy/Made-Tommy-ExtraBold.otf");
}
@font-face {
  font-family: "made-tommy-regular";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/MadeTommy/Made-Tommy-Black.otf");
}
@font-face {
  font-family: "made-tommy-regular";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/MadeTommy/Made-Tommy-Bold.otf");
}
@font-face {
  font-family: "made-tommy-regular";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/MadeTommy/Made-Tommy-Medium.otf");
}
@font-face {
  font-family: "made-tommy-regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MadeTommy/Made-Tommy-Regular.otf");
}
@font-face {
  font-family: "made-tommy-regular";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/MadeTommy/Made-Tommy-Light.otf");
}
@font-face {
  font-family: "made-tommy-regular";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/MadeTommy/Made-Tommy-Thin.otf");
}

// Outline
@font-face {
  font-family: "made-tommy-outline";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/MadeTommy/Made-Tommy-ExtraBold-Outline.otf");
}
@font-face {
  font-family: "made-tommy-outline";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/MadeTommy/Made-Tommy-Black-Outline.otf");
}
@font-face {
  font-family: "made-tommy-outline";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/MadeTommy/Made-Tommy-Bold-Outline.otf");
}
@font-face {
  font-family: "made-tommy-outline";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/MadeTommy/Made-Tommy-Medium-Outline.otf");
}
@font-face {
  font-family: "made-tommy-outline";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MadeTommy/Made-Tommy-Regular-Outline.otf");
}
@font-face {
  font-family: "made-tommy-outline";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/MadeTommy/Made-Tommy-Light-Outline.otf");
}
@font-face {
  font-family: "made-tommy-outline";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/MadeTommy/Made-Tommy-Thin-Outline.otf");
}
