/*

change password

*/
.wrap-change-p {
    
    
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: white;
    justify-content: center;
    #logo-section-R{
        height:100vh;
        #logo-wrap-R{
            height:100vh;
            #log-img-R{
                height:100vh;
                object-fit: contain;
            }
        }
    }
    #form-cover {
        h1 {
            color:#590A5B;
            text-align: center;
            padding-top: 2em;
        }
        P {
            text-align: center;
            font-size: 1.5em;
        }
        label {
            padding-top: 1.2em;
            font-size: 1.3em;
        }
        form {
            padding: 1em;
            margin: auto;
            width:32vw;
        }
        width: 70vw;
        padding: 3em;
        .input {
            display: block;
            width: 30vw;
            outline: none;
            margin: auto;
            height: 20px;
            font-size: 1.3em;
            color: wheat;
            padding-bottom: 1.2em;
            padding-top: 1.2em;
        }
        .C-input {
            border: 2px solid#590A5B;
            background:#590A5B;
            color: wheat;
            padding-left: 1em;
            border-radius: 30px;
        }
        [type='submit'] {
            margin-top: 1em;
            display: block;
            background-color: white;
            border-radius: 20px;
            padding: 1em;
            width: 90px;
            color:#590A5B;
            margin-bottom: 0.8em;
            font-weight: bolder;
            border: 2px solid#590A5B;
        }
    }
}
