.wrap {
    #nav-wrap {
        visibility: hidden;
    }
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    align-items: center;
    #form-section {
        width: 100%;
    }
    #form-cover {
        h1 {
            text-align: center;
            color: #590a5b;
            padding: 0.6em;
        }
        h1 span {
            display: block;
        }
        background-color: white;
        width: 60%;
        height: 70vh;
        position: relative;
        top: 10%;
        transform: translateY(-50%);
        margin-left: 50%;
        transform: translateX(-50%);
        [type='submit'] {
            margin-top: 1em;
            display: block;
            background-color: #590a5b;
            border-radius: 30px;
            padding: 1em;
            width: 70px;
            color: wheat;
            margin-bottom: 0.8em;
        }

        .input {
            display: block;
            width: 40vw;
            outline: none;
            margin: auto;
            height: 40px;
            font-size: 1.4em;
        }
        .align-submit {
            width: 40vw;
            margin: auto;
        }
        .L-input {
            border: 2px solid#590A5B;
            padding-left: 1em;
            border-radius: 30px;
        }
        form .input {
            margin-bottom: 1em;
        }
        #social {
            display: flex;
            justify-content: flex-end;
            margin-right: 30px;
            .create-account-link {
                color: #590a5b;
                font-size: 1.2em;
            }
        }
    }
    #logo-section {
        background-color: #590a5b;
        width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #logo-wrap {
            width: 50%;
            margin: auto;
            border: 2px solid rgba(128, 0, 128, 0);
        }
        img {
            display: block;
            margin: auto;
            height: 70px;
            width: 70px;
            margin-top: 50%;
            transform: translateY(-50%);
            padding: 0;
        }
        h1 {
            text-align: center;
            color: white;
            margin-top: -40px;
            padding: 0;
        }
    }
}
@media (max-width: 650px) {
    .wrap {
       
        #logo-section {
            visibility: hidden;
            width: 0;
        }
        #nav-wrap {
            visibility: visible;
        }
        #form-section {
            width: 100vw;
            height: 100%;
          
            #form-cover {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 2fr 1fr 2fr 2fr;
                h1 {
                    text-align: center;
                    color: #590a5b;
                    padding: 0.6em;
                    font-size: 2em;
                    align-self: end;
                }
                h1 span{
                    display: inline !important;
                    
                 
                }
             
                form {
                    display: block;
                    margin: auto;
                    width: 90%;
                    .input {
                        display: block;
                        width: 100%;
                        outline: none;
                        margin: auto;
                        height: 40px;
                        font-size: 1.4em;
                        margin-top: 10px;
                    }
                    .align-submit {
                        width: 100%;
                        margin: auto;
                        [type='submit'] {
                            margin-top: 1em;
                            display: block;
                            background-color: #590a5b;
                            border-radius: 30px;
                            padding: 1em;
                            width: 100%;
                            color: wheat;
                            margin-bottom: 0.8em;
                            font-size: 1.2em;
                        }
                    }
                }
                #social {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 1.2em;
                    margin-right: 30px;
                    .create-account-link {
                        color: #7f0c81;
                        font-size: 1.3em;
                        display: block;
                        margin: auto;
                        text-align: center;
                        padding: 1.3em;
                    }
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
