
@import "CSSReset";
//@import "fonts";
@import 'antd/dist/antd.css';
@import "variables";
@import "global";
//@import 'custom';
//@import "./pages/login";
//@import "./pages/register";
@import "./pages/vendorProduct.scss";
//@import "./pages/resetPassword";
//@import "./pages/changePassword";
//@import "./pages/forgotPassword";
@import "./pages/vendor";
@import '../../../components/Vendor/Dashboard/Screen1.css';
@import "./pages/qa";
@import "./pages/admin";
@import "aos/dist/aos.css";
@import './pages/cst';

.pageTitle {
  text-align: center;
  //font-weight: bold;
  font-family: 'Made Tommy', sans-serif;
  color: var(--black-color);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fetchingloading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 5rem 0;
}

.form-group {

}
