/*

reset code page
\


*/
#wrap-code {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex ;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    #img{
        position: absolute;
        width:70vw;
        height:70vh;
       
    }
    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       background: linear-gradient(180deg, rgba(89, 10, 91, 0.73) 0%, rgba(89, 10, 91, 0.365) 100%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
            align-items: center;
            #img-cover{
                width:100px;
                height:70px;
                #img-over{
                   object-fit: contain;
                }
            }
        #C-cover {
            h1 {
                text-align: center;
                color:#590A5B;
                padding:1.2em;
            }
            width: 40vw;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 3em;
            
            #input-cover {
                display: flex;
                justify-content: space-around;
                input {
                    width: 6vw;
                    height: 6vw;
                    border: 2px solid rgba(255,255,255,.5);
                    background-color: rgba(255, 255, 255, 0);
                    border-radius: 50%;
                    outline: none;
                    text-align: center;
                    caret-color: rgba(255, 255, 255, 0);
                    font-size: 2em;
                }
                input:hover{
                    border:2px solid#590A5B;
                }
                input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
            }
           
            button {
                margin-top: 1em;
                background-color:#590A5B;
                border-radius: 20px;
                padding: 1.2em;
                color: wheat;
                margin-bottom: 0.8em;
                font-weight: bolder;
                border: 2px solid#590A5B;
            }
            span {
                display:flex;
                justify-content:center;
                padding:1.2em;
                a{
                    padding:2em;
                    text-align: center;
                    color:blue;
                    cursor:pointer;
                    vertical-align: baseline;
                    

                }
                a:hover{
                    color:rgba(116, 64, 214, 0.8)
                }
            }
        }
    }
}