$black-color: black;
$white-color: white;
$primary-color: #0070F3;
$primary-color-text: white;
$background-color: #fefefe;
$grey-100: #EAEAEA;
$grey-200: #C9C5C5;
$grey-300: #888;
$grey-400: #666;
$error-100: #A51C30;
$error-200: #A7333F;
$error-text: white;
$primary: rgb(0, 19, 223);
$body-color:  #333;
$body-bg: #f2f2f2;
