.mb-1 {
    margin-bottom: var(--s1);
}
.mb-2 {
    margin-bottom: var(--s2);
}
.mr-1 {
    margin-right: var(--s1);
}
.mr--1 {
    margin-right: var(--s-1);
}

.pb-1 {
    padding-bottom: var(--s1);
}
.pb-2 {
    padding-bottom: var(--s2);
}
.pr-1 {
    padding-right: var(--s1);
}
.pr--1 {
    padding-right: var(--s-1);
}

.pl-1 {
    padding-left: var(--s1);
}
.pl-2 {
    padding-left: var(--s2);
}
.pl-1 {
    padding-left: var(--s1);
}
.pl--1 {
    padding-left: var(--s-1);
}
